.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.nav-brand {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: default;
}

.Add_icon {
  height: auto;
  width: 30px;
  cursor: pointer;
  padding-right: 20px;
}

.nav-logo {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
